<!-- Footer -->
<footer>
    <div class="container footer-content">

        <div class="row">
            <div class="contact-info col-md-4">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>Poortstraat 15</span>
                <br/>
                <span>&nbsp;&nbsp;&nbsp;1770 Liedekerke</span>
                <br/>
                <div class="clear"></div>

                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>Tel 0494/33.63.64</span>
                <br/>
                <div class="clear"></div>

                <a href="mailto:eleganthaar@gmail.com">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    <span>eleganthaar@gmail.com</span>
                </a>
            </div>

            <div class="col-md-4">
                <ul>
                    <li>
                        <a href="/kapsalon">Kapsalon</a>
                    </li>
                    <li>
                        <a href="/nagel-en-beautystudio">Nagel & Beauty Studio</a>
                    </li>
                    <li>
                        <a href="/prijslijst">Prijzen</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4">
                <ul>
                    <li>
                        <a href="/about">Over ons</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/ElegantHaarNagelstudio/">
                            <i class="fa fa-facebook-official fa-fw"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <p class="text-center copyright">Copyright &copy; {{ site.footer }} 20{{ site.time | date: '%y' }}</p>
</footer>